.about {
  text-align: center;
}

body {
  margin: 0%;
  font-family: 'Lato', sans-serif;
  overflow: scroll;
}

.menu_icon_about {
  float: left;
}

.header_headlines_description {
  background-color: white;
  border: 2px solid rgb(240, 237, 237);
  padding: 4%;
}

.course_email {
  color: #706f6f;
  font-weight: 500;
}

.course_email_link {
  color: #706f6f;
  font-weight: bolder;
}

.main_program {
  padding: 4%;
  background: white;
  color: #555454;
  border-bottom: 2px solid #ccc9c9;
}

.main_program_title {
  color: #363636;
}

.main_program .logo_container {
  width: 90%;
  border: 2px solid #e0dfdf;
  padding: 0%;
  margin: 8vh auto;
}

.logo_container img {
  width: 200px;
  padding: 6%;
}

.past_courses {
  padding: 3% 10%;
  text-align: center;
}

.past_course_card {
  background: url('./media/images/past_events/images.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
  margin: 5% auto;
}

.past_course_card div {
  background-color: rgb(240, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.past_course_card strong {
  font-size: xx-large;
}

#about_partners {
  display: flex;
}

.about_partners {
  flex-direction: column;
  align-items: center;
  padding: 5vh;
}

.about_partners hr {
  border: 1px solid tomato;
  width: 5%;
  margin: 1vh 0;
}

#about_footer {
  background-color: white;
  color: #272a31;
}

.past_course_cards {
  width: 100%;
  display: flex;
  flex-direction: column;
}
